* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header,
main,
footer {
	display: flex;
	align-items: center;
}

header,
footer {
	min-height: 15vh;
	background-color: coral;
	justify-content: center;
}

main {
	min-height: 70vh;
	height: 100%;
	justify-content: space-around;
}

.card {
	background-color: salmon;
	width: 100px;
	height: 100px;
	padding: 20px;
}

form {
	display: flex;
	flex-direction: column;
}
button,
form > * {
	margin-top: 1rem;
}

label {
	display: block;
}

button {
	width: 100%;
}
