* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flow * + * {
  margin-top: 1rem;
}

body {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  height: 15vh;
  background-color: orangered;
}

main {
  height: 70vh;
}
